:root{
    --interfaceWidth: 400;
    --titleBackgroundCol: rgb(185, 185, 185);
}

body{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: small;
}
.title{
    background-color: var(--titleBackgroundCol);
    margin-top: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

/* toggle semantics */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

h2{
    margin:auto;
    margin-right: 10px !important;
}


#controlPanel{
    display:flex;
    flex: 100%;
    height: 100%;
    background-color: white;
    order:1;
    flex-direction: column;
    padding:5px;
}
.button{
    font-size: x-large;
    padding: 10px;
    width:150px;
    margin:auto;
    margin-bottom: 10px;
    font-size: small;
}
.optionDiv {
    display: flex;
    align-content: center;
    flex-direction: row;
    width:fit-content;
    margin:auto;

}



#simInterface{
    width: var(--interfaceWidth);
    vertical-align: middle;
    order:0;
}
#neighborhoodCanvas{
    margin: auto;
    margin-top: 10px;
    border: solid black 2px;
}
